<div class="container col-4">
        <h4 class="text-center font-weight-bold text-primary">
            Crie sua Conta
        </h4>
        <p class="text-center font-weight-bold text-muted">
            Por favor preencha os dados para criar sua conta
        </p>
        
        <form [formGroup]="cadastroForm" class="form mt-4" (submit)="criarUsuario()">
        
            <div class="form-group">
                <input 
                    formControlName="email"
                    class="form-control" 
                    placeholder="Email" 
                    autofocus>  
                <small
                    *ngIf="cadastroForm.get('email').errors?.required"
                    class="text-danger d-block mt-2">
                    Digite um Email!
                </small>
            </div>
        
            <div class="form-group">
                <input
                formControlName="senha"
                    type="password" 
                    class="form-control" 
                    placeholder="Senha">  
                <small
                    *ngIf="cadastroForm.get('senha').errors?.required"
                    class="text-danger d-block mt-2">
                    Digite uma Senha!
                </small>            
            </div>
        
            <button 
                [disabled]="cadastroForm.invalid"
                type="submit" 
                class="btn btn-primary btn-block">
                Criar Conta
            </button>
        
        </form>
        
        <p>Já tem uma Conta? <a [routerLink]="['']">Entre aqui</a></p>
        </div>