<div class="row">
    <div class="col-md-3  bg-light" showMenu>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link disabled" href="#"><i class="fas fa-home"></i> DASHBOARD</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" [routerLink]="['/iniciarTransmissao']"><i class="fas fa-stream"></i> INICIAR TRANSMISSÃO</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" [routerLink]="['/iniciarTransmissao2']"><i class="fas fa-video"></i> UPLOAD - VIDEOS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" [routerLink]="['/gerenciamentoCanais']">GERENCIAMENTO DE CANAIS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" [routerLink]="['/analytics']"><i class="fas fa-chart-bar"></i> ANALITYCS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" [routerLink]="['/informacoesConta']"><i class="fas fa-info"></i> INFORMAÇÕES DA CONTA</a>
            </li>
            <li class="nav-item">
                <form class="form mt-4" (submit)="sair()">
                    <button type="submit" class="btn btn-light btn-lg text-muted" (submit)="sair()">
                        <i class="fas fa-sign-out-alt"></i>  
                            Sair                    
                    </button>
                </form>
            </li>
        </ul>
    </div>

    <div class="col-md-8">
        <ng-content></ng-content>
    </div>
</div>