<app-side-bar>
<div class="row">
    <div class="col-md-6">
        <div class="card p-5 shadow">
            <div class="card-body text-center">
                VIDEOS
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card p-5 shadow">
            <div class="card-body text-center">
                PLAY
            </div>
        </div>
    </div>
</div>
<div class="row m-3">
    <div class="col-md-6 offset-3">
        <div class="card p-5 shadow">
            <div class="card-body text-center">
                LIVES
            </div>
        </div>
    </div>
</div>
</app-side-bar>