<h3>Iniciar Transmissão</h3>

<div class="row">
    <div class="col-md-4 offset-1 m-4">
        <select class="form-control" id="exampleFormControlSelect1">
      <option selected>Iniciar Transmissão</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
    </div>
</div>

<div class="container-frame">

    <div class="row m-4">
        <div class="container">
            <h5>Configurações das Transmissões</h5>
            <div class="list-group list-group-flush">
                <a href="#" class="list-group-item list-group-item-action">
          INICIAR LISTA DE EMAIL
        </a>
                <a href="#" class="list-group-item list-group-item-action">IMPORTAR LISTA DE E-MAIL</a>
                <a href="#" class="list-group-item list-group-item-action">DEFINIR COMO PRIVADO</a>
                <a href="#" class="list-group-item list-group-item-action">DISPONIBILIZAR APÓS TRANSMISSÃO</a>
                <a href="#" class="list-group-item list-group-item-action">COMPARTILHAR LINK DA TRASMISSÃO</a>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center icons-size">
        <i class="p-2 fab fa-facebook-f"></i>
        <i class="p-2 fab fa-youtube"></i>
        <i class="p-2 fas fa-link"></i>
    </div>
</div>