<div class="container col-4">
        <h4 class="text-center font-weight-bold text-primary">
            Informações da Conta
        </h4>
        <p class="text-center font-weight-bold text-muted">
            Meu Perfil
        </p>
        
        <form [formGroup]="photoForm" class="form mt-4" (change)="upload()">
            <div class="form-group">
                <img class="img-fluid rounded-circle align-center"
                 style=" width: 150px; height: 150px;"
                *ngIf="photoForm.get('carregaFoto')"
                [src]="photoUrl">
            </div>
            <div class="form-group">
                    <input 
                        formControlName="file"
                        type ="file"
                        accept="image/*"
                        (change)="file = $event.target.files[0]">
                    <small
                        *ngIf="photoForm.get('file').errors?.required"
                        class="text-danger d-block mt-2">
                        Selecione um arquivo
                    </small>
                </div>   
        </form>    

        <form [formGroup]="informationForm" class="form mt-4" (submit)="updateInfo()">  
            <div class="form-group">
                <input 
                    formControlName="updateNameChannel"
                    class="form-control" 
                    placeholder="Nome do Canal" 
                    [value] = "nameChannel"
                    autofocus>  
                <small
                    *ngIf="informationForm.get('updateNameChannel').errors?.required"
                    class="text-danger d-block mt-2">
                    Digite um nome para o Canal!
                </small>
            </div>
            <div class="form-group">
                    <input 
                        formControlName="updateName"
                        class="form-control" 
                        placeholder="Nome" 
                        [value] = "name"
                        autofocus>  
                    <small
                        *ngIf="informationForm.get('updateName').errors?.required"
                        class="text-danger d-block mt-2">
                        Digite o seu Nome!
                    </small>
                </div>
        
            <div class="form-group">
                <input 
                    formControlName="updateEmail"
                    class="form-control" 
                    placeholder="Email"
                    [value]="email"
                    autofocus>  
                <small
                    *ngIf="informationForm.get('updateEmail').errors?.required"
                    class="text-danger d-block mt-2">
                    Digite um Email!
                </small>
            </div>
        
            <div class="form-group">
                <input
                    formControlName="updatePassword"
                    type="password" 
                    class="form-control" 
                    placeholder="Digite uma nova Senha">  
                <small
                    *ngIf="informationForm.get('updatePassword').errors?.required"
                    class="text-danger d-block mt-2">
                    Digite uma Senha!
                </small>            
            </div>
        
            <button 
                [disabled]="informationForm.invalid"
                type="submit" 
                class="btn btn-primary btn-block">
                Atualizar
            </button>
        
        </form>

        </div>